{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h2 class="new4"style="color:#007b5e;text-align:center;">Conditions générales de Dont</h2>
	<div> Grâce à votre générosité, votre engagement, les enfants sans soutien familial ne seront plus seuls. Entourés d’une mère SOS, bienveillante et protectrice et de frères et sœurs de cœur venus comme lui des orphelinats, </div>
  <div> Ils pourront panser leurs blessures et regarder l’avenir avec confiance et espoir.</div>
		<hr style="  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #007b5e;
    width: 30px;">
		</div>
		<br>












{% endblock content %}