{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h2 class="new4"style="color:#007b5e;text-align:center;">POURQUOI DONNER À SOS VILLAGES D'ENFANTS ?</h2>
	<div>Vos versements effectués en 2022 à SOS Villages d’Enfants bénéficient de 75% de réduction d’impôt à hauteur de 1000 dt.</div>
    <!-- <div>Vos versements effectués en 2022 à SOS Villages d’Enfants bénéficient de 75% de réduction d’impôt à hauteur de 1000€</div> -->
	<div>DONNER EN CONFIANCE</div>
    <div>SOS Villages d’Enfants est membre du Comité de la charte de déontologie des organisations faisant appel à la générosité du public depuis 1992. Les comptes de l’association sont certifiés par le cabinet PricewaterhouseCoopers Entreprises.</div>
    <div><b>RIB : 126 55 44 11 77 88 99 44 55 66 00 77 89 12</b></div>  
        <hr style="  margin-top: 1rem;

    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #007b5e;
    width: 30px;">
    <a href="https://www.facebook.com/profile.php?id=100069135667652&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
		</div>
		<br>
    


	
	
	
		

{% endblock content %}