{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h2 class="new4"style="color:#007b5e;text-align:center;">Politique d'intégration</h2>
	
    <ol>
    <li> Nous donnons une famille aux enfants sans soutien familial et en danger (orphelins, abandonnés, défavorisés…)., les aidons à bâtir leur propre avenir et participons au développement des communautés locales.</li>
    <li> Nous assurons la survie, la protection et le développement des enfants pris en charge</li>
    <li> Nous agissons dans l’intérêt supérieur des enfants</li>
    </ol>
		<hr style="  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #007b5e;
    width: 30px;">
		</div>
		<br>
	
	

{% endblock content %}