{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h2 class="new4"style="color:#007b5e;text-align:center;">A Propos de nous</h2>
	<div>L’Association Tunisienne des Villages d’Enfants SOS est une association de bienfaisance à caractère social et humanitaire, qui prend en charge des enfants sans soutien familial et en danger (orphelins, abandonnés, défavorisés…).

    L’œuvre SOS a été créé en Tunisie depuis 1981 en vertu de l’accord cadre en date du 26 Mars 1981 entre le gouvernement Tunisien représenté à l’époque par le Ministère de la Jeunesse et des Sports et la Fédération Internationale des Villages d’Enfants SOS-KDI représenté par Hermann Gmeiner en personne, 
    le fondateur des villages SOS. Cet accord cadre a été ratifié par la loi n° 83-84 du 02 Avril 1983..</div>
		<hr style="  margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #007b5e;
    width: 30px;">
    <a href="https://www.facebook.com/profile.php?id=100069135667652&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
		</div>
		<br>
    

	
	
	
		

{% endblock content %}